@{ ViewData["Title"] = "Home Page"; }

<style>
    #hero {
        background: linear-gradient(rgba(78, 87, 212, 0.507), rgba(78, 87, 212, 0.438)), url(../NesdaAcademyTemplette/img/hero-1.jpg);
        background-position: center;
        background-size: cover;
    }
</style>
<section id="hero" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase fw-semibold display-1 text-white wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">الوكالة الوطنية لدعم و تنمية المقاولاتية nesda</h1>
                <h5 class="text-white mt-3 mb-4 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">متابعة وتحليل أداء الاتصال بسهولة</h5>
                <div class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="/Dashboard" class="btn btn-primary rounded-top-3 fw-bold text-uppercase py-md-3 px-md-4 me-2 rounded">الأنشطة</a>
                    <a href="#about" class="btn btn-light fw-bold text-uppercase ms-2 rounded py-md-3 px-md-4">حول المنصة</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-xxl py-5">
    <div class="container" id="about">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/NesdaAcademyTemplette/img/logo.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h6 class="section-title bg-white text-start text-primary pe-3"> حول المنصة</h6>
                <h1 class="mb-4">NESDA Dash-com </h1>
                <p style="text-align: justify; line-height: 1.6;  margin: 0 0 15px 0;" class="mb-4"> هي منصة مصممة لتجميع المعلومات وعرض البيانات الخاصة بحملات الاتصال، حيث تتيح متابعة مؤشرات الأداء الرئيسية (KPI) في الوقت الفعلي. توفر المنصة للمستخدمين إمكانية تحليل سريع وفعّال لتأثير الإجراءات التواصلية، داخلياً وخارجياً، مما يسهل اتخاذ القرار وتحسين الاستراتيجيات.</p>
              
                 
                <br>
       
            </div>
        </div>
    </div>
</div>

<div class="row g-4">
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                <h5 class="mb-3">إحصائيات الوكالات</h5>
                <p>عرض شامل لإحصائيات وأنشطة الوكالات على المستوى الوطني مع مؤشرات أداء محدثة</p>
            </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> 
                <h5 class="mb-3">أيام إعلامية وأبواب مفتوحة</h5>
                <p>نُنظم أيامًا إعلامية وأبوابًا مفتوحة للتعريف بخدماتنا ومرافقة الشباب في تطوير مشاريعهم</p>
            </div>
        </div> 
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-store text-primary mb-4"></i>
                <h5 class="mb-3">معارض وصالونات </h5>
                <p>نشارك في المعارض والصالونات لعرض خدماتنا ودعم أصحاب المشاريع والترويج لمبادراتهم</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-users text-primary mb-4"></i>
                <h5 class="mb-3">أيام دراسية وملتقيات Forum </h5>
                <p>نُنظم أيامًا دراسية وملتقيات لتبادل الخبرات وتعزيز التواصل بين مختلف الفاعلين</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-handshake text-primary mb-4"></i>
                <h5 class="mb-3">جلسات تنسيقية خارجية/إتفاقيات</h5>
                <p>نعقد جلسات تنسيقية ونبرم اتفاقيات شراكة لتعزيز التعاون وتحقيق أهداف مشتركة</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-microphone text-primary mb-4"></i>
                <h5 class="mb-3">تغطيات إذاعية</h5>
                <p>نواكب أنشطتنا عبر التغطيات الإذاعية لإيصال المعلومات وتعزيز التواصل مع الجمهور</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-tv text-primary mb-4"></i>
                <h5 class="mb-3">تغطيات تلفزيونبة</h5>
                <p>نُبرز أنشطتنا من خلال التغطيات التلفزيونية لتعريف الجمهور بمختلف برامجنا ومبادراتنا</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="service-item text-center pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-newspaper text-primary mb-4"></i>
                <h5 class="mb-3">صحافة مكتوبة/إلكترونية</h5>
                <p>نعمل على نشر أنشطتنا عبر الصحافة المكتوبة والإلكترونية لضمان وصول أوسع للمعلومة</p>
            </div>
        </div>
    </div>
</div>