@model Anade.Khadamat.Web.ViewModels.ActiviteTelevisionVM

@{
    ViewData["Title"] = "تعديل التغطية التلفزيونية";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="id" value="@ViewBag.TvId" />
    <input type="hidden" name="activiteId" value="@ViewBag.ActiviteId" />

    <div class="mb-3">
        <label asp-for="ChaineTV" class="form-label"></label>
        <input asp-for="ChaineTV" class="form-control" />
        <span asp-validation-for="ChaineTV" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Sujet" class="form-label"></label>
        <input asp-for="Sujet" class="form-control" />
        <span asp-validation-for="Sujet" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DateActivite" class="form-label"></label>
        <input asp-for="DateActivite" type="date" class="form-control" />
        <span asp-validation-for="DateActivite" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">حفظ </button>
    <a asp-action="Index" class="btn btn-secondary"> إلغاء</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}