@using Microsoft.AspNetCore.Identity
@using Anade.Khadamat.Identity

@inject UserService Userservice

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<div class="profile_details">
    <div class="nav-item dropdown">

        @if (SignInManager.IsSignedIn(User))
        {
            var user = await Userservice.GetUserEagerLoadedAsync(User);
            var str = await Userservice.GetStructureFromUserAsync(user.Id);

<a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Salam @UserManager.GetUserName(User)!</a>

<div class="dropdown-menu fade-down m-0">
    <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Paramètre</a>

    <a class="dropdown-item" asp-controller="Dashboard" asp-action="index">Tableau de bord</a>
    <a class="dropdown-item" asp-controller="Document" asp-action="Index">Historique des documents</a>

    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Déconnexion</button>
    </form>
</div> }
                            else
                            {
                <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" id="login" asp-area="Identity" asp-page="/Account/Login">Connexion<i class="fa fa-arrow-right ms-3"></i></a>}
    </div>




</div>



